<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/home']">Bora-Bora- Circle</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li *ngIf="loggedInAsMember() " routerLinkActive="active"><a [routerLink]="['/member']" >メンバーページ</a></li>
        <li *ngIf="loggedInAsBusiness() " routerLinkActive="active"><a [routerLink]="['/business']" >マイページ</a></li>
      </ul>
      <ul *ngIf="!loggedIn()" class="nav navbar-nav navbar-right">
        <li><a  [routerLink]="['/login']" >ログイン</a></li>
        <li><a  [routerLink]="['/register']" >アカウント作成</a></li>
      </ul>
      <ul *ngIf="loggedIn()" class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown>
           <a (click)="false" class="dropdown-toggle" dropdownToggle>Welcome  {{currentMemberName()}}  <span class="caret"></span></a> 
           <ul class="dropdown-menu" *dropdownMenu>
             <li role="separator" class="divider"></li>
             <li><a (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a></li>
           </ul>
        </li>
      </ul>

    </div><!--/.navbar-collapse -->
  </div>
</nav>