<div class="container">
  <h2>マイページ</h2>
  <hr>
  <div class="row">
    <app-member-detail [member]="member"></app-member-detail>
    <a [routerLink]="['/member/edit']" >メンバーページ</a>
  </div>
  <hr>
  <div class="row">
    <p>Friends here</p>
  </div>
  <hr>
  <div class="row">
    <p>Messages here</p>
  </div>
  <hr>
  <div class="row">
    <p>Topics here</p>
  </div>
  <hr>
  <div class="row">
    <p>Blogs here</p>
  </div>
  <!-- <h3>メンバーページ</h3>
  <hr/>
  <tabset type="pills">
      <tab heading="ホーム">ホーム</tab>
      <tab heading="フレンド">フレンド</tab>
      <tab heading="メッセージ">メッセージ</tab>
      <tab heading="トピック">トピック</tab>
      <tab heading="お気に入り">お気に入り</tab>
      <tab heading="設定">設定やで</tab>
   </tabset> -->
</div>