<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit Profile">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
              <h4>アカウント情報</h4>
              
              <textarea class="form-control" name="introduction" rows="6" [(ngModel)]="user.introduction"></textarea>
              <h4>プロフィール</h4>
              <textarea class="form-control" name="lookingFor" rows="6" [(ngModel)]="user.lookingFor"></textarea>
            </form>
          </tab>
          <tab heading="Edit Photos">
            <p>Photo editor</p>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="col-sm-2">
      <p>広告…</p>
    </div>
  </div>
</div>
